<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @entryPointStyles('app')

    {{-- <script type="text/javascript" src="../node_modules/tw-elements/dist/js/tw-elements.umd.min.js"></script> --}}

    <title>{{ judul? judul: 'App Bioskop' }}</title>

    @!section('more-style')
</head>

<body>

    {{-- navbar --}}
    <nav class="relative flex w-full flex-wrap items-center justify-between bg-primary-700 py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 lg:py-4"
        data-te-navbar-ref>
        <div class="flex w-full flex-wrap items-center justify-between px-3">
            <div>
                <a class="mx-2 my-1 flex items-center text-neutral-300 hover:text-neutral-200 focus:text-neutral-200 lg:mb-0 lg:mt-0"
                    href="#">
                    <img class="mr-2" src="https://tecdn.b-cdn.net/img/logo/te-transparent-noshadows.webp"
                        style="height: 20px" alt="TE Logo" loading="lazy" />
                </a>
            </div>

            <!-- Hamburger button for mobile view -->
            <button
                class="block border-0 bg-transparent px-2 text-neutral-300 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 lg:hidden"
                type="button" data-te-collapse-init data-te-target="#navbarSupportedContent4"
                aria-controls="navbarSupportedContent4" aria-expanded="false" aria-label="Toggle navigation">
                <!-- Hamburger icon -->
                <span class="[&>svg]:w-7">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-7 w-7">
                        <path fill-rule="evenodd"
                            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                            clip-rule="evenodd" />
                    </svg>
                </span>
            </button>

            <!-- Collapsible navbar container -->
            <div class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto"
                id="navbarSupportedContent4" data-te-collapse-item>
                <!-- Left links -->
                <ul class="list-style-none mr-auto flex flex-col pl-0 lg:mt-1 lg:flex-row" data-te-navbar-nav-ref>
                    <!-- Studios link -->
                    <li class="my-4 pl-2 lg:my-0 lg:pl-2 lg:pr-1" data-te-nav-item-ref>
                        <a class="text-neutral-200 hover:text-neutral-300 focus:text-neutral-300 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 "
                            aria-current="page" href="/adminv/studios" data-te-nav-link-ref>Studios</a>
                    </li>

                    <!-- Film link -->
                    <li class="my-4 pl-2 lg:my-0 lg:pl-2 lg:pr-1" data-te-nav-item-ref>
                        <a class="text-neutral-200 hover:text-neutral-300 focus:text-neutral-300 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 "
                            aria-current="page" href="/adminv/films" data-te-nav-link-ref>Films</a>
                    </li>

                    <!-- Tiket link -->
                    <li class="my-4 pl-2 lg:my-0 lg:pl-2 lg:pr-1" data-te-nav-item-ref>
                        <a class="text-neutral-200 hover:text-neutral-300 focus:text-neutral-300 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 "
                            aria-current="page" href="/adminv/jadwals" data-te-nav-link-ref>Jadwals</a>
                    </li>

                    <!-- Tiket kupon -->
                    <li class="my-4 pl-2 lg:my-0 lg:pl-2 lg:pr-1" data-te-nav-item-ref>
                        <a class="text-neutral-200 hover:text-neutral-300 focus:text-neutral-300 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 "
                            aria-current="page" href="/adminv/kupons" data-te-nav-link-ref>Kupons</a>
                    </li>
                </ul>

                <div class="flex items-center">
                    <a href="/userv"
                        class="mr-3 bg-primary-900 inline-block rounded px-3 py-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg motion-reduce:transition-none">

                        <svg fill="none" stroke="currentColor" class="h-4 w-4" stroke-width="1.5" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    {{-- body --}}
    <div class="container mx-auto px-2 md:px-4 py-8 mb-8">
        @!section('body')
    </div>

    <script src="{{asset('assets/app.js')}}"></script>

    @!section('script')
</body>

</html>