<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @entryPointStyles('app')

    {{--  <script type="text/javascript" src="../node_modules/tw-elements/dist/js/tw-elements.umd.min.js"></script>  --}}

    <title>{{ judul? judul: 'App Bioskop' }}</title>

    @!section('more-style')
</head>

<body>
    {{-- navbar --}}
    <div class="px-5 py-4 bg-cyan-500 flex mb-8">
        <div class="text-2xl font-bold flex-1">Bioskop Anjay K1</div>
        <div class="flex space-x-4">
            <a href="/adminv/studios"
                class="px-2 py-1 cursor-pointer rounded hover:text-white hover:bg-slate-800">Studios</a>
            <a href="/adminv/films"
                class="px-2 py-1 cursor-pointer rounded hover:text-white hover:bg-slate-800">Films</a>
            <a href="/adminv/jadwals"
                class="px-2 py-1 cursor-pointer rounded hover:text-white hover:bg-slate-800">Jadwals</a>
            <a href="{{ (isUserv)? '/adminv' : '/userv' }}"
                class="px-2 py-1 cursor-pointer rounded text-white bg-red-600 hover:bg-red-700">Pindah Userv</a>
        </div>
    </div>

    {{-- body --}}
    <div class="container mx-auto px-4 mb-8">
        @!section('body')
    </div>

    <script src="{{asset('assets/app.js')}}"></script>

    @!section('script')
</body>

</html>