/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .cant-block-text{
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
  }

  .kursi-cgv-ori{
    display: block;
    background: #745012;
    text-align: center;
    line-height: 18px;
    font-size: 8px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 18px;
    height: 18px;
    color: #FFF;
    border-radius: 4px;
    cursor:pointer
  }

    /* di aslinya, ada state kursi, bukan-kursi, sama bukan-kursi-selected */

  .kursi-cgv{
    display: block;
    text-align: center;
    line-height: 18px;
    font-size: 8px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 18px;
    height: 18px;
    color: #FFF;
    border-radius: 4px;
    cursor:pointer;
    @apply bg-yellow-300 cant-block-text
  }

  .kursi-cgv.selected{
    @apply bg-blue-600
  }

  /* di tempalte, ada state kursi sama bukan-kursi */
  .bukan-kursi{
    display: block;
    text-align: center;
    width: 18px;
    height: 18px;
  }

  .kursi-cgv-template{
    display: block;
    text-align: center;
    line-height: 18px;
    font-size: 8px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 18px;
    height: 18px;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    @apply bg-yellow-300 cant-block-text
  }

  .kursi-cgv-template.bukan-kursi{
    @apply bg-gray-400
  }

  /* .kursi-cgv-template.bukan-kursi.selection{
    @apply bg-gray-400
  } */

    /* kebawah ini legacy */


  .kursi{
    @apply text-xs flex-1 justify-center text-center
    rounded bg-gray-400 cursor-pointer cant-block-text
  }

  .nonkursi{
    @apply text-xs p-0.5 flex-1 justify-center text-center
    rounded cursor-pointer cant-block-text
  }

  .kursi-taktersedia{
    @apply cursor-not-allowed bg-red-400 !important;
  }

  .kursi-terpilih{
    @apply bg-yellow-300 !important;
  }

  
}

/* html, body {
  background-color: #F7F8FA;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
}

body:before {
  content: '';
  background: #5A45FF;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #5A45FF;
  text-decoration: none;
}

main {
  max-width: 620px;
  margin: auto;
  height: 100vh;
  padding: 0 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #17161A;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

main ul {
  list-style: none;
}

main li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}

main li:before {
  content: '—';
  position: absolute;
  left: 0;
}

main code {
  font-size: 16px;
  background: #e6e2ff;
} */
